@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styels */
.display-flex{
    display: flex;
}
/* dark02 */
.text-gray{
    color: #424242;
}
/* dark03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.peragraph{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
main{
    max-width: 1320px;
    margin: 0 auto;
}
main > section{
    margin-top: 85px;
}
.section-title{
    font-size: 2.8rem;
    margin-bottom: 20px;
}

/* header styels */


/* navber styels */

.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner styels */

.banner-content{
    max-width: 870px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 900;
    color: #131313;
}
.banner-description{
    margin-bottom: 32px;
}
.banner-image{
    width: 100%;
    margin-bottom: 30px;
}
/* Featuers styels */
.features{
    align-items: center;
}
.features-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.features-content{
    margin-left: 75px;
    max-width: 537px;
}

.p-1{
    font-weight: 500;
    color: #727272;
}
.p-2{
    font-weight: 700;
    color: #131313;
}
.p-3{
    font-weight: 700;
    color: #FF900E;
}
.features-discrption{
    max-width: 500px;
    margin-bottom: 32px;
}
/* responsive media query */

@media screen and (max-width:576px) {
   .navbar, 
   .nav-links,
   .features{
    flex-direction: column;
   } 
   .features-img{
    grid-template-columns: repeat(1,1fr);
   }
   .features-content{
    align-items: center;
   }
    
}

/* medium size devise */
@media screen and (min-width:576px) and (max-width:992px) {
    .features{
        flex-direction: column;
    }
    .features-content{
        margin: 40px auto;
        text-align: center;
    }

    
}